
<div class="estimate-wrapper">
    <div class="estimate row wow animate__fadeInUp" data-wow-duration="1s">
        <div class="estimate-form grid-x align-bottom">
            <div class="show-for-medium cell medium-4 align-bottom">
                <img class="estimate-img" src="/images/nutty/nutty-lawnmower.png" alt="" />
            </div>
            <div class="cell medium-8 padding-3">
                <h2 class="h1 editable">Get a Free Estimate</h2>
                <p class="editable">Complete the form below &amp; one of our team members will get in touch with you soon!</p>
                <br />

                <form class="row grid-x grid-margin-x">
                    <div class="cell small-12">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Name" />
                    </div>

                    <div class="cell small-12 large-6">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Email" />
                    </div>

                    <div class="cell small-12 large-6">
                        <label for="phone">Phone</label>
                        <input type="tel" id="phone" name="phone" placeholder="Phone" />
                    </div>

                    <div class="cell small-12 large-6">
                        <label for="address">Address</label>
                        <input type="text" id="address" name="address" placeholder="Address" />
                    </div>

                    <div class="cell small-12 large-6">
                        <label for="services">Service(s) Needed</label>
                        <textarea id="services" name="services" placeholder="Service(s) You Would Like" rows="3"></textarea>
                    </div>

                    <div class="cell small-12"><br /></div>

                    <div class="cell small-12 text-center">
                        <button type="submit" class="large button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="middle-hero">
    <br />
</div>