<div class="services row expanded text-center">
    <h2 class="floating h1 editable">Our Lawn Care Services</h2>
    <p class="floating h5 editable">We offer lawn care & landscape services here in Canton & surrounding areas.</p>
    <br />
    <br />
    <div class="row expanded grid-x grid-margin-x">
        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/assets/images/content/lawncare-middle-bg.jpg');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <img class="small-6" src="/assets/images/nutty/nutty-lawnmower.png" alt="" />
                <h3>
                    Commercial Lawn Care
                    <br />
                    Maintence
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <br />
                <a class="large button" href="/services">Commercial Lawn Care</a>
            </div>
        </div>

        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/assets/images/content/lawncare-bottom-bg.jpg');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <img class="small-6" src="/assets/images/nutty/nutty-lawnmower.png" alt="" />
                <h3>
                    Industrial Lawn Care
                    <br />
                    Maintence
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <br />
                <a class="large button" href="/services">Industrial Lawn Care</a>
            </div>
        </div>

        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/assets/images/content/lawncare-middle-bg.jpg');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <img class="small-6" src="/assets/images/nutty/nutty-lawnmower.png" alt="" />
                <h3>
                    Residental Lawn Care
                    <br />
                    Maintence
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <br />
                <a class="large button" href="/services">Residental Lawn Care</a>
            </div>
        </div>

        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/assets/images/content/lawncare-bg.gif');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <img class="small-6" src="/assets/images/nutty/nutty-lawnmower.png" alt="" />
                <h3>
                    Landscape
                    <br />
                    Maintence
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <br />
                <a class="large button" href="/services">Landscaping</a>
            </div>
        </div>

        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/assets/images/content/lawncare-middle-bg.jpg');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <img class="small-6" src="/assets/images/nutty/nutty-lawnmower.png" alt="" />
                <h3>
                    Spring &amp; Fall
                    <br />
                    Property Cleanups
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <br />
                <a class="large button" href="/services">Property Cleanups</a>
            </div>
        </div>

        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/assets/images/content/lawncare-bottom-bg.jpg');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <img class="small-6" src="/assets/images/nutty/nutty-lawnmower.png" alt="" />
                <h3>
                    Snow Removal
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <br />
                <a class="large button" href="/services">Snow Removal</a>
            </div>
        </div>
    </div>
</div>