<div id="services" class="services row expanded text-center">
    <h2 class="floating h1 editable">Our Lawn Care Services</h2>
    <p class="floating h5 editable">We offer lawn care & landscape services here in Canton & surrounding areas.</p>
    <br />
    <br />
    <div class="row expanded grid-x grid-margin-x">
        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/images/content/lawncare-middle-bg.jpg');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <!--<img class="small-6" src="/images/nutty/nutty-lawnmower.png" alt="" />-->
                <h3>
                    Commercial Lawn Care
                    <br />
                    Maintenance
                </h3>
                <p>
                    Tolley's Lawn Services offers comprehensive Commercial Lawn Care Maintenance, ensuring your business's outdoor spaces are impeccably maintained, attractive, and reflective of your company's professionalism and attention to detail.
                </p>
                <!--<br />
                <a class="large button" href="/services">Commercial Lawn Care</a>-->
            </div>
        </div>

        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/images/content/lawncare-bottom-bg.jpg');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <!--<img class="small-6" src="/images/nutty/nutty-lawnmower.png" alt="" />-->
                <h3>
                    Industrial Lawn Care
                    <br />
                    Maintence
                </h3>
                <p>
                    Tolley's Lawn Services specializes in Industrial Lawn Care Maintenance, providing robust, efficient, and tailored solutions to keep large-scale industrial properties manicured, safe, and aesthetically pleasing.
                </p>
                <!--<br />
                <a class="large button" href="/services">Industrial Lawn Care</a>-->
            </div>
        </div>

        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/images/content/lawncare-middle-bg.jpg');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <!--<img class="small-6" src="/images/nutty/nutty-lawnmower.png" alt="" />-->
                <h3>
                    Residential Lawn Care
                    <br />
                    Maintence
                </h3>
                <p>
                    Tolley's Lawn Services delivers expert Residential Lawn Care Maintenance, offering personalized, eco-friendly care plans to transform your home's outdoor space into a lush, vibrant oasis.
                </p>
                <!--<br />
                <a class="large button" href="/services">Residental Lawn Care</a>-->
            </div>
        </div>

        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/images/content/lawncare-bg.gif');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <!--<img class="small-6" src="/images/nutty/nutty-lawnmower.png" alt="" />-->
                <h3>
                    Landscape
                    <br />
                    Maintence
                </h3>
                <p>
                    Tolley's Lawn Services excels in Landscape Maintenance, offering a comprehensive suite of services to enhance and preserve the beauty and health of your landscape, ensuring it remains stunning and vibrant through every season.
                </p>
                <!--<br />
                <a class="large button" href="/services">Landscaping</a>-->
            </div>
        </div>

        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/images/content/lawncare-middle-bg.jpg');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <!--<img class="small-6" src="/images/nutty/nutty-lawnmower.png" alt="" />-->
                <h3>
                    Spring &amp; Fall
                    <br />
                    Property Cleanups
                </h3>
                <p>
                    Tolley's Lawn Services provides thorough Spring and Fall Property Cleanup services, expertly preparing your outdoor space for the coming season with meticulous attention to detail, ensuring it looks pristine and well-maintained year-round.
                </p>
                <!--<br />
                <a class="large button" href="/services">Property Cleanups</a>-->
            </div>
        </div>

        <div class="service cell small-12 medium-6 large-4 grid-x wow animate__fadeInUp" data-wow-duration="1s" style="background-image: url('/images/content/lawncare-bottom-bg.jpg');">
            <div class="service-overlay row expanded cell padding-3 editable">
                <!--<img class="small-6" src="/images/nutty/nutty-lawnmower.png" alt="" />-->
                <h3>
                    Snow Removal
                </h3>
                <p>
                    Tolley's Lawn Services extends their expertise into the winter months with reliable Snow Removal services, ensuring your property remains safe, accessible, and clear of snow and ice throughout the season.
                </p>
                <!--<br />
                <a class="large button" href="/services">Snow Removal</a>-->
            </div>
        </div>
    </div>
</div>